/* 
    Created on : 04.07.2014, 22:37:47
    Author     : linn.coffeein@gmail.com
*/
html,
body {
    height: 100%;
}
html {
    position: relative;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
    font-size: 16px;
}

@font-face {
    font-family: 'myriad_regular';
    src: url('fonts/myriad_regular.eot');
    src:  
        url('fonts/myriad_regular.woff') format('woff'), 
        url('fonts/myriad_regular.ttf') format('truetype'), 
        url('fonts/myriad_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('fonts/MyriadPro-Cond.eot');
    src:
        url('fonts/MyriadPro-Cond.woff') format('woff'),
        url('fonts/MyriadPro-Cond.ttf') format('truetype'), 
        url('fonts/MyriadPro-Cond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #cccccc;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.wrap-main {
    padding-bottom: 10px;
}

/*#push,
.footer {
    height: 370px;
}
.footer {
    width: 100%;
    color: #fff;
    font-size: 12px;
    height:30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif
}*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /*padding: 0;*/
    /*outline: 1px solid red;*/
    padding: 0 40px;
}
.padding-0-40{
    padding: 0 40px;
}
.navbar-toggle{
    z-index: 45;
}

.logo-text{
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 15px;
    color: #010101;
    line-height: 18px;
    margin: 50px 0 0 0;
    text-transform: uppercase;
}
.no-padding{
    padding: 0;
}
.kurs{
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    /*outline: 1px solid red;*/
    position: absolute;
    top: 55px;
    right: 33px;
}
.kurs-name{
    text-transform: uppercase;
    font-size: 10px;
    /*width: 30px;*/
}
.kurs-cell{
    width: auto;
    padding: 3px 15px;
    margin-top: 2px;
}
.kurs-price{
    font-size: 10px;
}
.kurs-bordered-cell{
    border-right: 2px solid #000000;
    /*width: 60px;*/
    padding: 4px 23px 0 0;
}
.col-custom-menu{
    height: 34px;
    padding: 0 0px 33px 0px;
    border-bottom: 10px solid transparent;
    font-family: 'MyriadPro-Cond';
}
.col-custom-menu:hover{
    border-bottom: 10px solid #c12e4b;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover{
    font-size: 18px;
    /*TODO font*/
    text-transform: uppercase;
    padding: 0 12px;
    height: 30px;
    line-height: 33px;
    display: inline-block;
    text-decoration: none;
}
.blue-href,.blue-href:hover{
    background: #4998ba;
    color: #ffffff;
}
.navbar-collapse{
    margin: -3px 0 0px 0;
}

.header{
    position: relative;
    z-index: 777;
}
.header-phone, .header-phone:hover{
    display: block;
    color: #181818;
    font-size: 30px;
    text-decoration: none;
    margin: 40px 0 0 0;
    font-weight: bold;
    padding: 0 25px 0 0;
    letter-spacing: 1px;
    font-family: 'myriad_regular';
}
.icons-wrapper{
    margin: -16px 0 0 0;
    background: url(img/bg1.png) 100% 100% no-repeat;
    background-size: cover;
    height: 488px;
    max-width: 1200px;
    color: #ffffff;
}
.icon-wrapper, .icon-wrapper:hover{
    /*    margin: 0 64px;*/
    /*float: left;*/
    /*width: auto;*/
    padding: 0;
    
}
.icon-wrapper:hover .icon{
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    cursor: pointer;
}
.icon-wrapper:hover .icon-text{
    text-decoration: underline;
}
.icon{
    margin: 0 auto;
}
.col-logo-wrapper{
    padding: 0;
}
.logo{
    /*margin: 25px 10px 0 16px;*/
    margin:16px 10px 0 0px;
}
.icon{
    background: url(img/icons.png) 0 0 no-repeat;
    width: 163px;
    height: 163px;
}
.icon-audit{
    background-position: -170px 0;
}
.icon-ur{
    background-position: -342px 0;
}
.icon-tam{
    background-position: 0 -163px;
}
.icon-expert{
    background-position: -170px -163px;
}
.icon-ved{
    background-position: -342px -163px;
}
.icon-row{
    margin-top: 35px;
}
.icon-row .icon-wrapper:nth-child(2){
    margin: 0 20px;
}
.icon-text{
    font-size: 24px;
    margin: 3px 0 0 0;
    color: #ffffff;
    font-family: 'MyriadPro-Cond';
}
.news-slider-wrapper{
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
    /*padding: 0 95px;*/
    width: 100%;
    height: 525px;
}
.news-slider{
    list-style: none;
    width: 999999999999px;
    padding: 0;
    -webkit-padding-start: 0;
    position: relative;
}

.news-item{
    float: left;
    display: inline-block;
    float: left;
    width: 268px;
    max-width: 268px;
    margin: 0 45px 0 0;
}
.carousel-wrapper{
    position: relative;
}
.control{
    /*top: 50%;*/
    /*position: absolute;*/
    display: inline-block;
    background: url(img/controls.png) 0 0 no-repeat;
    width: 62px;
    height: 62px;
    margin-top: 16%;
    /*margin: 50% 0 0 0;*/
}
.prev {
    background-position: 0 -62px;
    left: 0px;
    margin-right: 30px;
}
.next{
    right: 0px;
    margin-left: 30px;
}


.news-header{
    font-size: 36px;
    color: #c02947;
    /*margin: 70px 0 50px 0;*/
    font-family: 'MyriadPro-Cond';
    line-height: 36px;
    margin: 77px 0 41px 0;
}
.thumb-img{
    margin: 0 auto;
}
.navbar-collapse{
    /*padding: 0;*/
}
.news-wrapper{
    margin: 0 0 70px 0;
}
.news-link,.news-link:hover{
    text-decoration: none;
    display: inline-block;
}
.underlined{
    text-decoration: underline;
    font-size: 30px;
    line-height: 30px;
    color: #43413d;
    display: block;
    margin: 46px 0 20px 0;
    font-family: 'MyriadPro-Cond';
}
.underlined:hover{
    text-decoration:none;
}
.news-text{
    color: #43413d;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-family: 'myriad_regular';
    /*padding-bottom:*/ 
}
.bg2{
    background: url(img/bg2.png) 100% 100% no-repeat;
    background-size: cover;
    height: 488px;
    max-width: 1200px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
}
.bg3{
    background: url(img/bg3.png) 100% 100% no-repeat;
}
.bg-text{
    position: absolute;
    top: 50%;
    height: 132px;
    font-family: 'MyriadPro-Cond';
    margin: -57px 0 0 0;
    left: 68px;
    font-size: 48px;
    line-height: 49px;
}
.bg3 .bg-text{
    top: 46%;
}
.about-bold-text{
    font-weight: bold;
    padding: 0;
    margin: 27px 0 20px 0;
    color: #43413d;
    font-size: 16px;
    line-height: 18px;
    /*font-family: 'Conv_MyriadPro-Bold';*/
    font-family: 'myriad_regular';
}
.about-cell-wrapper{
    font-family: 'myriad_regular';
    font-size: 16px;
    line-height: 18px;
    color: #43413d;
}
.about-cell-wrapper div:first-child{
    padding: 0 20px 0 0;
}
.about-cell-wrapper div:last-child{
    padding: 0  0 0 20px;
}
.about-wrapper{
    margin: 0 0 55px 0;
}
.mail-link,.mail-link:hover{
    text-decoration: none;
    color: #181818;
}
.contact-tel, .contact-tel:hover{
    text-decoration: none;
    line-height: 48px;
    font-size: 48px;
    font-weight: bold;
    margin: 22px auto 10px auto;
    display: inline-block;
    font-family: 'myriad_regular';
    color: #181818;
}
.contact-wrapper{
    margin: 68px 0 70px 0;
}
.contact-header{
    margin: 0 0 0 0;
}
.contact-text{
    margin: 0 0 20px 0;
    font-family: 'myriad_regular';
    font-size: 18px;
    line-height: 18px;
    color: #181818;
}
.about-header{
    margin: 55px auto 0 auto;
}
.bg-wrapper-container, .about-wrapper-container{
    padding: 0 24px;
}
.lang-wrapper{
    background: #e5e5e5;
    width: 70px;
    height: 25px;
    padding: 6px 12px 0 12px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.lang-link{
    display: inline-block;
    padding: 0 0 7px 0;
    position: relative;
    height: 19px;
    border-bottom: 4px solid transparent;
}
.en-lang-link{
    margin: 0 5px 0 0;

}
.lang-link:hover, .active-lang{
    border-bottom: 4px solid #c12e4b;
}
.active-lang:hover{
    border-bottom: 4px solid transparent;
}
.icons{
    background: url(img/lang.png) 0 0 no-repeat;
    width: 20px;
    height: 12px;
    display: block;
}
.en-lang{
    background-position: 0 0 ;
}
.ru-lang{
    background-position: -20px 0 ;
}
.custom-modal-dialog{
    /*border: 36px solid #0098bd;*/
}
.modal-content{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 36px solid #0098bd;
    border-radius: 0;
}
.close{
    background: url(img/close.png) 0 0 no-repeat !important;
    width: 33px;
    height: 33px;
    margin: 5px 5px 0 0;
    position: relative;
    z-index: 99999;
}
.custom-modal-header{
    background: url(img/modal-icon.png) top left no-repeat;
    padding: 0 10px 0 80px;
    font-family: 'MyriadPro-Cond';
    font-size: 24px;
    color: #000000;
    height: 62px;
    line-height: 62px;
    margin-bottom: 20px;
}
.modal-row{
    font-family: 'myriad_regular';
    font-size: 14px;
    line-height: 16px;   
    margin: 0 0 23px 0;
}
.modal-bordered-row{
    /*border-left:4px dashed #e4e4e5;*/
    padding:  0 0 0 20px;
    background: url(img/border.png) top left;
    background-repeat: repeat-y;
}
.modal-bold{
    font-family: 'myriad_regular';
    font-size: 14px;
    line-height: 16px;   
    font-weight: bold;
}
.links{
    list-style: none;
    padding: 0;
    -webkit-padding-start: 0;

}
.links li{
    display: block;
}
.expert-link, .expert-link:hover{
    color: #0098bd;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}
.modal-links-wrapper{
    margin: 0 0 40px 80px;
}
.custom-modal-dialog{
    width: 95%;
    /*margin-left: -40%;*/
    max-width: 1000px;
}
.custom-modal-body{
    padding: 45px;
}
.uppercase{
    text-transform: uppercase;
    margin: 0 0 23px 0;
}
.dashed-border{
    width: 83%;
    margin: 0 auto 20px 60px;
    padding: 40px;
    font-family:  'myriad_regular';
    border: 6px dashed #e4e4e5;
    font-size: 14px;
    line-height: 18px;
}
.red-text{
    font-family: 'MyriadPro-Cond';
    font-size: 36px;
    color: #df2a4b;
}
.red-numbers{
    font-size: 60px;
    font-weight: bold;
    font-family:  'myriad_regular';
    line-height: 55px;
    display: inline-block;
}
.item-margin-row{
    margin: 0 0 25px 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .underlined{
        font-size: 20px;
        line-height: 20px;
        margin: 26px 0 20px 0;
    }
}
@media only screen
and (min-width : 320px)
and (max-width : 480px)
and (orientation : lanscape) {
    .news-slider-wrapper{
        max-width: 325px !important;
    }
    .news-item{
        width: 154px  !important;
        max-width: 154px  !important;
        margin: 0 15px 0 0  !important;
    }
    /*    .container{
            outline: 1px solid red;
        }*/

}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
{
    .about-cell-wrapper div:first-child{
        padding: 0;
    }
    .about-cell-wrapper div:last-child{
        padding: 0;
    }
    .contact-wrapper {
        margin: 28px 0 70px 0;
    }

    .contact-tel, .contact-tel:hover{
        line-height: 28px;
        font-size: 28px;
        margin: 0px auto 20px auto;
    }
    .bg2 {
        height: 200px;
    }
    .about-bold-text{
        margin: 0px 0 20px 0;
    }
    .header-phone, .header-phone:hover{
        right: 66px !important;
        width: auto !important; 
        margin: 0 !important;
        /*width: 100px;*/
        /*margin-right: -50px;*/
        font-size: 14px !important;
    }
}

@media only screen
and (min-width : 320px)
and (max-width : 568px){

}

@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : portrait) 
{

    .news-container{
        padding: 0 5px !important;
    }
    .news-slider-wrapper{
        max-width: 193px;
        height: 330px;
    }
    .news-item{
        max-width: 193px;
        width: 193px;
    }
    .underlined{
        font-size: 20px;
        line-height: 20px;
        margin: 26px 0 20px 0;
    }
    .news-header{
        margin: 27px 0 21px 0;
    }
    .bg2{
        height: 200px;
    }
    .bg-text{
        font-size: 22px !important;
        line-height: 35px !important;
        margin: -50px 0 0 0;
    }


}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : lanscape){

    .news-slider-wrapper{
        max-width: 477px;
    }
    .header-phone, .header-phone:hover{
        top: 17px;
    }
    .news-slider-wrapper{
        max-width: 410px !important;
    }
    .news-item{
        width: 198px  !important;
        max-width: 198px  !important;
        margin: 0 15px 0 0  !important;
    }
    .container{
        outline: 1px solid red;
    }
}

@media only screen
and (min-width : 480px)
and (max-width : 640px)
and (orientation : lanscape){

}
@media (min-width: 600px) and (max-width: 800px) {

}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:portrait){

}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:landscape){

}

@media (max-width: 767px)  {


    .container{
        padding: 0 20px;
    }
    .header-phone, .header-phone:hover{
        position: absolute;
        top: 6px;
        /*right: 72px;*/
        right: 72px;
        /*right: 50%;*/
        /*margin-right: -135px;*/
        width: 274px;
        margin: 0;
        width: 145px;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .bg-text{
        left: 10px;
        font-size: 22px !important;
        line-height: 35px !important;
    }
    /*    .header-phone,
        .header-phone:hover{
            
        }*/

    .control{
        display: inline-block;
        background: url(img/controls_small.png) 0 0 no-repeat;
        width: 40px;
        height: 40px;
    }
    .prev {
        background-position: 0 -40px;
        left: 0px;
        margin-right: 10px;
    }
    .next{
        right: 0px;
        margin-left: 10px;
    }
    .bg2{
        height: 300px;
    }


    .icon{
        background: url(img/icons_small.png) 0 0 no-repeat;
        width: 65px;
        height: 65px;
    }
    .icon-audit{
        background-position: -68px 0;
    }
    .icon-ur{
        background-position: -136px 0;
    }
    .icon-tam{
        background-position: 0 -65px;
    }
    .icon-expert{
        background-position: -68px -65px;
    }
    .icon-ved{
        background-position: -136px -65px;
    }
    .icon-row{
        margin: 35px 0 0 0;
    }
    .icon-text{
        font-size: 16px;
        line-height: 18px;
        margin: 3px 0 0 0;
        color: #ffffff;
    }
    .bg-wrapper-container{
        padding: 0;
    }
    .icon-row .icon-wrapper:nth-child(2){
        margin: 0;
    }
    .icons-wrapper{
        height: 284px;
    }
    .lang-wrapper{
        top: 25px;
        right: 50%;
        margin-right: -35px;
    }
    .modal-content{
        border: 16px solid #0098bd;
    }
    .custom-modal-body{
        padding: 15px;
    }
    .custom-modal-header{
        line-height: 24px;
    }
    .modal-links-wrapper{
        margin: 0 0 25px 0;
    }
    .dashed-border{
        padding: 15px;
        margin: 0 auto 20px auto;
    }
    .red-numbers{
        font-size: 30px;
        line-height: 24px;
    }
    .red-text{
        font-size: 21px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav{
        /*float: right;*/
    }
    .icon-row .icon-wrapper:nth-child(2){
        margin: 0;
    }
    .news-container{
        padding: 0 20px;
    }

    .prev{
        margin-right: 10px; 
        background-position: 0 -40px;
    }
    .next{
        margin-left: 10px;
    }
    .control{
        display: inline-block;
        background: url(img/controls_small.png) 0 0 no-repeat;
        width: 40px;
        height: 40px;
    }
    .dashed-border{
        padding: 15px;
        margin: 0 auto 20px auto;
    }

}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ 
    .news-slider-wrapper{
        max-width: 577px;
    }
    .prev{
        margin-right: 23px; 
        /*background-position: 0 -40px;*/
    }
    .next{
        margin-left: 23px;
    }
    .container{
        padding: 0 25px;
    }
    .header-phone, .header-phone:hover{
        padding: 0;
    }
    .navbar-collapse.collapse{
        padding: 0;
    }
    .navbar-nav{
        float: right;
        padding: 0;
    }


}
@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:landscape){
    .news-slider-wrapper{
        max-width: 830px;
    }
    .news-item{
        width: 245px;
        max-width: 245px;
    }
}


@media (min-width: 992px) {

    .menu-wrapper{
        width: auto;
        float: right;
        margin: 0 110px 0 0;
    }

}
