/* 
    Created on : 04.07.2014, 22:37:47
    Author     : linn.coffeein@gmail.com
*/
html,
body {
    height: 100%;
}
html {
    position: relative;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:#ffffff;
    font-size: 16px;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
        url('fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #cccccc;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.wrap-main {
    padding-bottom: 10px;
}

/*#push,
.footer {
    height: 370px;
}
.footer {
    width: 100%;
    color: #fff;
    font-size: 12px;
    height:30px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif
}*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /*padding: 0;*/
    outline: 1px solid red;
    padding: 0 40px;
}
.padding-0-40{
    padding: 0 40px;
}
.navbar-toggle{
    z-index: 45;
}

.logo-text{
    font-family: 'Franklin Gothic Demi Cond', arial;
    font-size: 15px;
    color: #010101;
    line-height: 18px;
    margin: 50px 0 0 0;
}
.no-padding{
    padding: 0;
}
.kurs{
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    outline: 1px solid red;
    position: absolute;
    top: 55px;
    right: 39px;
}
.kurs-name{
    text-transform: uppercase;
    font-size: 10px;
    /*width: 30px;*/
}
.kurs-cell{
    width: auto;
    padding: 0 15px;
    margin-top: 2px;
}
.kurs-price{
    font-size: 10px;
}
.kurs-bordered-cell{
    border-right: 2px solid #000000;
    /*width: 60px;*/
    padding: 2px 23px 0 0;
}
.col-custom-menu{
    height: 34px;
    padding: 0 0px 33px 0px;
    border-bottom: 10px solid transparent;
}
.col-custom-menu:hover{
    border-bottom: 10px solid #c12e4b;
}
.navbar-nav > li > a, .navbar-nav > li > a:hover{
    font-size: 16px;
    /*TODO font*/
    text-transform: uppercase;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
}
.navbar-collapse{
    margin: 6px 0 0px 0;
}

.header{
    position: relative;
    z-index: 777;
}
.header-phone, .header-phone:hover{
    display: block;
    color: #181818;
    font-size: 30px;
    text-decoration: none;
    margin: 47px 0 0 0;
    font-weight: bold;
    padding: 0 25px 0 0;
}
.icons-wrapper{
    margin: -10px 0 0 0;
    background: url(img/bg1.png) 100% 100% no-repeat;
    background-size: cover;
    height: 488px;
    max-width: 1200px;
    color: #ffffff;
}
/*.icon-wrapper{
    margin: 0 auto;
    float:left;
}*/
.icon{
    margin: 0 auto;
}
.col-logo-wrapper{
    padding: 0;
}
.logo{
    margin: 25px 10px 0 15px;
}
.icon{
    background: url(img/icons.png) 0 0 no-repeat;
    width: 163px;
    height: 163px;
}
.icon-audit{
    background-position: -170px 0;
}
.icon-ur{
    background-position: -342px 0;
}
.icon-tam{
    background-position: 0 -163px;
}
.icon-expert{
    background-position: -170px -163px;
}
.icon-ved{
    background-position: -342px -163px;
}
.icon-row{
    margin: 35px 0 0 0;
}
.icon-text{
    font-size: 24px;
    margin: 3px 0 0 0;
    color: #ffffff;
}
.news-slider-wrapper{
    max-width: 900px;
    overflow: hidden;
    margin: 0 auto;
    /*padding: 0 95px;*/
    width: 100%;
}
.news-slider{
    list-style: none;
    width: 999999999999px;
    padding: 0;
    -webkit-padding-start: 0;
    position: relative;
}

.news-item{
    float: left;
    display: inline-block;
    float: left;
    width: 268px;
    max-width: 268px;
    margin: 0 48px 0 0;
}
.carousel-wrapper{
    position: relative;
}
.control{
    /*top: 50%;*/
    /*position: absolute;*/
    display: inline-block;
    background: url(img/controls.png) 0 0 no-repeat;
    width: 62px;
    height: 62px;
    /*margin: 50% 0 0 0;*/
}
.prev {
    background-position: 0 -62px;
    left: 0px;
    margin: 0 30px 0 0;
}
.next{
    right: 0px;
    margin: 0 0 0 30px;
}


.news-header{
    font-size: 36px;
    color: #c02947;
    margin: 70px 0 50px 0;
}
.thumb-img{
    margin: 0 auto;
}
.navbar-collapse{
    /*padding: 0;*/
}
.news-wrapper{
    margin: 0 0 70px 0;
}
.news-link,.news-link:hover{
    text-decoration: none;
    display: inline-block;
}
.underlined{
    text-decoration: underline;
    font-size: 30px;
    color: #43413d;
    display: inline-block;
    margin: 44px 0 23px 0;
}
.news-text{
    color: #43413d;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
}
.bg2{
    background: url(img/bg2.png) 100% 100% no-repeat;
    background-size: cover;
    height: 488px;
    max-width: 1200px;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
}
.bg3{
    background: url(img/bg3.png) 100% 100% no-repeat;
}
.bg-text{
    position: absolute;
    top: 50%;
    height: 132px;
    margin: -65px 0 0 0;
    left: 68px;
    font-size: 48px;
}
.about-bold-text{
    font-weight: bold;
    padding: 0;
    margin: 40px 0 24px 0;
    color: #43413d;
    font-size: 16px;
    line-height: 18px;
}
.about-cell-wrapper div:first-child{
    padding: 0 20px 0 0;
}
.about-cell-wrapper div:last-child{
    padding: 0  0 0 20px;
}
.about-wrapper{
    margin: 0 0 55px 0;
}
.mail-link,.mail-link:hover{
    text-decoration: none;
}
.contact-tel, .contact-tel:hover{
     text-decoration: none;
     line-height: 48px;
     font-weight: bold;
     margin: 33px auto 20px auto;
     display: inline-block;
}
.contact-wrapper{
    margin: 68px 0 70px 0;
}
.contact-header{
    margin: 0 0 0 0;
}
.contact-text{
    margin: 0 0 20px 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

}
@media only screen
and (min-width : 320px)
and (max-width : 480px)
and (orientation : lanscape) {

}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
{

}


@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : portrait) 
{


}
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : lanscape){


}

@media only screen
and (min-width : 480px)
and (max-width : 640px)
and (orientation : lanscape){

}
@media (min-width: 600px) and (max-width: 800px) {

}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:portrait){

}
@media (min-width: 600px) and (max-width: 800px) 
and (orientation:landscape){

}

@media (max-width: 767px)  {


    .container{
        padding: 0 20px;
    }
    .header-phone, .header-phone:hover{
        position: absolute;
        top: 6px;
        right: 72px;
        right: 72px;
        width: 274px;
        margin: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-nav{
        /*float: right;*/
    }

}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { /* STYLES GO HERE */ 



}
@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:landscape){

}


@media (min-width: 992px) {

    .menu-wrapper{
        width: auto;
        float: right;
        margin: 0 110px 0 0;
    }

}
